<tr>
	<td align="center" valign="top" id="emailPreheader">
		<!--[if (gte mso 9)|(IE)]>
			<table align="center" border="0" cellspacing="0" cellpadding="0" width="640">
			<tr>
			<td align="left" valign="top">
		<![endif]-->
		<table cellspacing="0" cellpadding="0" width="100%" class="emailContainer">
		  <tr>
		    <td>
		    	<a id="logo" href="http://www.match.com/home/mymatch.aspx"><img src="http://~imgUrl~/email/crm/match-logo-140x41.png" alt="match" width="149" height="21"></a>
		    </td>
		  </tr>
		</table>
		<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</table>
		<![endif]-->
	</td>
</tr>
