/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 20px; // For consistent padding
$grey: #e9ecec; // Background color
$blue: #1574bb;
$greyText: #525352;
$footerText: #666666;
$width: 640px; // Width of the content area
$br: 3px; // Border radius
$primary-color: #1574bb; // Primary color for buttons and links
